APP_NAME=MoriHome
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://morihom.duckdns.org
FRONTEND_URL=https://morihom.duckdns.org
TRUSTED_PROXIES=172.30.10.254
LOG_CHANNEL=stderr
LOG_LEVEL=warning
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=morihome
DB_USERNAME=morihome
DB_PASSWORD=
SESSION_DRIVER=database
SESSION_SECURE_COOKIE=true
SESSION_ENCRYPT=true
SESSION_SAME_SITE=lax
SANCTUM_STATEFUL_DOMAINS=morihom.duckdns.org
CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=public
MAIL_MAILER=log
MAIL_FROM_ADDRESS=hello@morihom.duckdns.org
MAIL_FROM_NAME=MoriHome
GEOCODER_DRIVER=nominatim
GEOCODER_COUNTRY_CODE=mu
MORIHOME_SUPPORT_EMAIL=moristack@gmail.com
MORIHOME_SUPPORT_WHATSAPP=+23057079335
ADMIN_EMAIL=admin@morihome.mu
ADMIN_PASSWORD=
